* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

body {
    font: normal 16px/1.5 'Libre Franklin', Helvetica, Georgia, sans-serif, serif;
    background-color-gradient(blue, green);
    height: 100vh;
    background: linear-gradient(#e8e6fd, #fff);
}

#pagewrap {
    max-width: 360px;
    margin: 3vh auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    color: #666;
    background-color: #f5f8f9;
}

header a {
    color: inherit;
    text-decoration: none;
    font-size: 1.5em;
    vertical-align: middle;
}

header h3 {
    font-weight: 400;
}

.chatbox {
    background-color: #f5f8f9;
    padding: 10px 20px;
    width: 100%;
    height: 350px;
    overflow-y: scroll;
}

.time {
    text-align: center;
    font-size: .70em;
    color: #666;
    margin-top: 30%;
    letter-spacing: 1.2px;
    word-spacing: 2px;
}

#message {
    width: 100%;
}

.matt-line {
    max-width: 70%;
    min-width: 10%;
    display: inline-block;
    font-size: .85em;
    position: relative;
    margin: 20% 0 3% 0;
    animation: scaler 150ms ease-out;
}

.matt-line p:after {
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    top: 0;
    width: 0;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #444 transparent;
}

.matt-line p {
    background-color: #444;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    font-weight: 500;
}

#message:before,
#message:after {
    content: "";
    display: block;
    clear: both;
}

#message li {
    background-color: #e5eaec;
    color: #222;
    font-size: .85em;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    margin: 1% 0;
    max-width: 70%;
    min-width: 10%;
    float: right;
    word-wrap: break-word;
    clear: both;
    animation: scaler 150ms ease-out;
    font-weight: 500;
}

#message .first:after {
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    width: 0;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #e5eaec transparent;
}

.reply {
    padding: 15px 0;
    background-color: #f5f8f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.reply:before,
.reply:after {
    content: "";
    display: block;
    clear: both;
}

.material-icons,
input,
button {
    float: left;
    margin: 3px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
}

.material-icons {
    color: #444;
    font-size: 1.8em;
    padding-top: 10px;
    transform: rotate(-60deg);
    cursor: pointer;
}

input {
    width: 72%;
    padding: 10px;
    border: none;
    font-size: 1.2em;
    background-color: inherit;
}

input:focus,
button:focus {
    outline: 0;
}

button {
    background-color: #222;
    color: #fff;
    padding: 15px 10px;
    width: 20%;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    letter-spacing: 1.2px;
}

.scroll {
    position: absolute;
    bottom: 0;
}

@keyframes scaler {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}