<!DOCTYPE html>
<html lang="en">


<head>
    <style>
        body {
            background: linear-gradient(#e8e6fd, #fff);
        }
    </style>
    <title>Talkbot</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="/showSignin">Sign In</a>
                    </li>
                    <li role="presentation"><a href="/showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"><strong>Talkbot</strong></h3>
        </div>

        <div class="jumbotron">
            <h3><i>To enjoy the Services Please Sign up or Sign in:-</i></h3>
            <br/>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>

        </div>
        <h2>Why to use Talkbot..???</h2>
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Reason 1:</h4>
                <p>You can Know weather anytime anywhere.</p>
                <br />
                <h4>Reason 2:</h4>
                <p> You can stay updated with the latest News.</p>
            </div>

            <div class="col-lg-6">
                <h4>Reason 3:</h4>
                <p> You can get latest Sports update according to your choice.</p>

                <h4>Reason 4:</h4>
                <p>Many more to come soon Stay tune.</p>

            </div>
        </div>
        <footer class="footer">
            <p>&copy; Company 2017</p>
        </footer>
    </div>
</body>

</html>